<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="color: red">You haven't uploaded any file! Please try again.</h1>

<form action="/endOfRentForm" method="get" >
<input name="orderId" th:value="${orderId}" type="hidden">
<br>
<input type="submit" value="Back">
</form>


</body>
</html>
</body>
</html>
</body>
</html>