<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/project.css" rel="stylesheet">
</head>
<body>
<div class="testbox">
    <h1>User Registration</h1>

  <span th:value="${fieldsError}"></span>

    <form action="/registration" method="post" th:object="${user}">


        <input placeholder="Name" th:field="*{name}"  type="text">


        <input placeholder="Last name" th:field="*{lastName}" type="text">


        <input placeholder="Phone number" th:field="*{phoneNumber}" type="text">


        <input placeholder="Email" th:field="*{email}" type="text">

        <input placeholder="Password" th:field="*{password}" type="password">

        <input type="submit" value="Register">
    </form>
</div>

</body>
</html>